@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root {
    --color-one:#EFEFEF;
    --color-two:#232323;  
    --color-text:#777777;


    --font:'DM Sans', sans-serif;
}

.button{
    width: 230px;
    height: 70px;
    background-color: #f7d9c4;
    border: 1px solid #f7d9c4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}
.button:hover{
    background-color: #fff;

}
.button-2{
    background-color: transparent;
    color: #fff;
    border:1px solid var(--color-text);
}

.button-black {
    width: 170px;
    height: 70px;
    background-color: #000000cc;
    color: #fff;
    
}

.button-black:hover{
    transition: all 0.5s ease-in-out;
    background-color: #000;
}


.box-head-2{
    padding: 40px 0;


}

.box-head-2 p{
    color: var(--color-text);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
.box-head-2 h1{
    color: #fff;
    font-size: 62px;
}